<h1 mat-dialog-title>{{ dataEdit.name }}</h1>
<mat-dialog-content>
  <div class="item">
    <h3 class="textItem">Count PC : {{ dataEdit.countPc }}</h3>
  </div>
  <div class="item">
    <h3 class="textItem">IP Address : {{ dataEdit.ip }}</h3>
  </div>

  <div class="item">
    <h3 class="textItem">Receipt Printer : {{ dataEdit.receiptPrinter }}</h3>
  </div>
  <div class="item">
    <h3 class="textItem">Barcodes : {{ dataEdit.barcode }}</h3>
  </div>
  <div class="item">
    <h3 class="textItem">Print Server "Sader" : {{ dataEdit.psSader }}</h3>
  </div>
  <div class="item">
    <h3 class="textItem">Print Server "Wared" : {{ dataEdit.psWared }}</h3>
  </div>
  <div class="item">
    <h3 class="textItem">Another Detail :{{ dataEdit.detail }}</h3>
  </div>
  <div class="item">
    <h3 class="textItem">Notes : {{ dataEdit.note }}</h3>
  </div>
  <div>
    <button
      mat-stroked-button
      mat-dialog-close
      (click)="onNoClick()"
      class="btn-light btn"
    >
      Close
    </button>
  </div>
</mat-dialog-content>
