<div>
  <h1>Welcome To Dashboard Omran !!</h1>
</div>
<div class="father">
  <div class="left">
    <div class="row1">
      <div class="left1">
        All Branches
        <p>{{ allBranches }}</p>
      </div>
      <div class="left2">
        All Tickets
        <p>{{ allTickets }}</p>
      </div>
    </div>
    <div class="row2">
      <div class="left3">
        Completed Tickets
        <p>--</p>
      </div>
      <div class="left4">
        Errors
        <p>--</p>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="row3">
      <div class="chart">
        Chart
        <app-barchart></app-barchart>
      </div>
    </div>
  </div>
</div>
