<mat-drawer-container class="example-container">
  <mat-drawer mode="side" *ngIf="isLoggedIn" opened
    ><div class="sideLabel">
      <mat-icon id="dashboardIcon1">dashboard</mat-icon>
      <div id="labelAdmin">Admin</div>
    </div>
    <div class="sideItem">
      <div class="item1" routerLink="/dashboard">
        <mat-icon id="dashboardIcon">pages</mat-icon>Dashboard
      </div>
      <div class="item2" routerLink="/tickets">
        <mat-icon id="dashboardIcon">label_important</mat-icon>Tickets
      </div>
      <div class="item3" routerLink="/branches">
        <mat-icon id="dashboardIcon">business</mat-icon>Branche
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary" class="justify-content-between toolbar">
      <div id="test" *ngIf="isLoggedIn">
        <input
          mat-input
          type="text"
          placeholder="Search..."
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let street of filteredStreets | async"
            [value]="street"
          >
            {{ street }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div *ngIf="!isLoggedIn">
        <h2 style="color: rgb(68, 67, 67)">
          Welcome To Ticketing System Please Login ...
        </h2>
      </div>
      <div id="test">
        <button
          style="z-index: 10"
          mat-stroked-button
          class="
            example-icon
            favorite-icon
            mr-4
            text-secondary
            h6
            font-weight-bold
          "
          *ngIf="!isLoggedIn"
          routerLink="/register"
          aria-label="Example icon-button with heart icon"
        >
          Register
        </button>

        <button
          *ngIf="isLoggedIn"
          style="z-index: 10"
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>notifications</mat-icon>
        </button>
        <button
          [matMenuTriggerFor]="menu"
          *ngIf="isLoggedIn"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>account_circle</mat-icon>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              *ngIf="isLoggedIn"
              class="text-primary font-weight-bold text-center h6"
            >
              <span
                *ngIf="isLoggedIn"
                (click)="logoutnow()"
                routerLink="/login"
                style="color: rgba(235, 63, 63, 0.904)"
              >
                {{ logout }}
              </span>
              <div *ngIf="!isLoggedIn">{{ login }}</div>
            </button>
          </mat-menu>
        </button>
        <!-- </div> -->
        <!-- </mat-toolbar-row> -->
      </div>
    </mat-toolbar>

    <div class="mainContent">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
