<mat-drawer-container class="example-container sticky-top sticky-offset">
  <mat-drawer
    #drawer
    mode="side"
    *ngIf="isLoggedIn"
    opened
    style="position: fixed; top: 0; left: 0; overflow-x: hidden"
    ><div class="sideLabel">
      <mat-icon id="dashboardIcon1">dashboard</mat-icon>
      <div id="labelAdmin">Admin</div>
    </div>
    <div class="sideItem">
      <span class="item1" routerLink="/dashboard">
        <mat-icon id="dashboardIcon">pages</mat-icon>Dashboard
      </span>
      <span class="item2" routerLink="/tickets">
        <mat-icon id="dashboardIcon">label_important</mat-icon>Tickets
      </span>
      <span class="item3" routerLink="/branches">
        <mat-icon id="dashboardIcon">business</mat-icon>Branche
      </span>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <nav class="toolbar navbar flex-nowrap static-top">
      <div class="d-flex" *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu" class="clickMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            class="text-primary font-weight-light h6"
            routerLink="/dashboard"
          >
            Dashboard
          </button>
          <button
            mat-menu-item
            class="text-primary font-weight-light h6"
            routerLink="/tickets"
          >
            Tickets
          </button>
          <button
            mat-menu-item
            class="text-primary font-weight-light h6"
            routerLink="/branches"
          >
            Branche
          </button>
        </mat-menu>
        <input
          mat-input
          class="border-0 shadow-sm form-control"
          type="text"
          placeholder="Search..."
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let street of filteredStreets | async"
            [value]="street"
          >
            {{ street }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div
        id="welcome"
        class="pt-3"
        style="color: rgb(68, 67, 67); margin-left: 0px"
        *ngIf="!isLoggedIn"
      >
        <h2>Welcome To Ticketing System Please Login ...</h2>
      </div>

      <div class="">
        <button
          style="z-index: 10"
          mat-stroked-button
          class="
            example-icon
            favorite-icon
            mr-4
            text-secondary
            h6
            font-weight-normal
          "
          *ngIf="!isLoggedIn"
          routerLink="/register"
          aria-label="Example icon-button with heart icon"
        >
          Register
        </button>
        <button *ngIf="isLoggedIn" mat-icon-button>
          <mat-icon class="text-black-50">notifications_none</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn" mat-icon-button>
          <mat-icon class="text-black-50">account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngIf="isLoggedIn"
            (click)="logoutnow()"
            routerLink="/login"
            style="color: rgba(235, 63, 63, 0.904)"
            class="font-weight-normal text-center h6"
          >
            {{ logout }}
          </button>
          <button *ngIf="!isLoggedIn">{{ login }}</button>
        </mat-menu>
      </div>
    </nav>

    <div class="mainContent">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
