@import url("~@angular/material/prebuilt-themes/indigo-pink.css");
@import url("~bootstrap/dist/css/bootstrap.min.css");

@import url("~ng-busy/src/style/busy.css");

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css");

* {
  font-family: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", "Roboto", sans-serif;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #07c010;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
}
