<h1 class="font-weight-lighter" style="color: #475f7b">Branches Management</h1>

<div class="addBran">
  <button
    class="addButton"
    mat-mini-fab
    (click)="openDialogAdd()"
    matTooltip="Add Branch"
  >
    <mat-icon id="addButton">add</mat-icon>
  </button>
</div>
<!-- <div class="position-relative" [ngBusy]="{ busy: busy, backdrop: false }"></div> -->

<table
  [ngBusy]="{ busy: busy }"
  mat-table
  [dataSource]="table"
  matSort
  matSortDirection="asc"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <!-- ip Column -->
  <ng-container matColumnDef="ip">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>IP</th>
    <td mat-cell *matCellDef="let element">{{ element.ip }}</td>
  </ng-container>

  <!-- countPc Column -->
  <ng-container matColumnDef="countPc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count PC</th>
    <td mat-cell *matCellDef="let element">{{ element.countPc }}</td>
  </ng-container>
  <!-- edit Column -->
  <ng-container mat-text-column matColumnDef="tools">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        class="buttonEdit mr-3"
        (click)="openDialogEdit(element)"
        matTooltip="Edit"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        style="color: #17a2b8"
        class="clickItem mr-3"
        (click)="openDialogShow(element)"
        matTooltip="Info"
      >
        <mat-icon>info</mat-icon>
      </button>
      <button
        id="deleteButton"
        mat-icon-button
        (click)="onDelete(element)"
        matTooltip="Delete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="itemsHover"
    *matRowDef="let row; columns: displayedColumns"
    (onDeleteItem)="deleteItem(row)"
  ></tr>
</table>
